# Arquivos de compilação do MikroC
/src/*.elf
/src/*.map
/src/*.hex
/src/*.lst
/src/*.o
/src/*.d
/src/*.bak
/src/*.cof
/src/*.sym

# Arquivos temporários do IDE
*.bak
*.obj
*.pdb
*.idb
*.iobj

# Diretórios de build
build/

# Diretórios de backup
_backup/

# Arquivos de configuração de IDE
.mikroc
*.MCP
*.MCU

# Arquivos de logs
*.log

# Arquivos do Proteus
*.ids
*.pro
*.vsm
*.amk
*.bld
*.sch
*.pcb
*.pdsbak
*.workspace
